html, body {
  height: 100%;
  margin 0;
}

body {
  background-image: url('Image/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  text-align: center;
  color: white;
}

.circle-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  text-align: center;
  padding: 10px;
}

@media (orientation: portrait) {
body {overflow: hidden;
      transform: rotate(90deg);
      width: 100vh;
      height: 100vw;}
}

@media (orientation: landscape) {
  body {overflow: hidden;
        transform: rotate(0deg);
        width: 100vw;
        height: 100vh;}
}