html, body {
  height: 100%;
  margin 0;
}

@media (orientation: portrait) {
  body {overflow: hidden;}
}

@media (orientation: landscape) {
  body {overflow: hidden;}
}

body {
  background-image: url('Image/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: white;
  font-weight: bold;
}

.circle-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  text-align: center;
  padding: 10px;
}

.copy-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.qrcode-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}